.game-in-dots {
  font-family: Arial, sans-serif;
  font-size: 10px;
  width: 100%;
  max-width: 900px;
  border: 2px solid grey;
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: self-start;
  margin: 0 auto;
}

.left-part-game {
  min-width: 70%;
}

.right-part-board {
  min-width: 24%;
}

.part{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.winner {
  width: 90%;
  background-color: darkgrey;
  color: grey;
  display: flex;
  text-align: center;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  margin-bottom: 4px;
}

.form-body{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  margin: 5px 10px;
}

span {
  height: 40px;
}

.game-mode-input-box {
  width: 120px
}

.box {
  width: 150px;
  height: 22px;
}

.box select {
  width: 150px;
}

.submit-button-box button {
  width: 120px;
}

.playing-field {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
}

