.game-in-dots {
  font-family: Arial, sans-serif;
  font-size: 10px;
  width: 100%;
  max-width: 900px;
  border: 2px solid grey;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
}

.left-part-game {
  width: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-body{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box {
  margin: 20px;
}

span {
  height: 40px;
}

.game-mode-input-box {
  width: 120px
}

.box {
   width: 150px;
   height: 22px;
 }

.box select {
  width: 150px;
  height: 22px;
}

.submit-button-box button {
  width: 120px;
}

.playing-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
}

.empty-field {

}

.active-field{
    background-color: aqua;
}


